extends default_layout
block content
    ul(class="list-msg")
        for message in messages
            if message.sender != user._id
                li
                    a(href="/profil/" + message.sender)
                        img(class="profil_pic round" alt="" src="#{other.profil_pic}")
                    p(class="contenu_detail")
                        small  #{other.pseudo + ' ' + message.time + ' ,' + message.date + '  '}
                        h4  #{message.object}
                        span(class="btn-call glyphicon glyphicon-facetime-video") &nbsp
                    a(href="/message/" + message.sender)
                        span(class="btn-comment glyphicon glyphicon-comment")
                            span(class="badge")
            else
                li
                    a(href="/profil/" + message.sender)
                        img(class="profil_pic round" alt="" src="#{user.profil_pic}")
                    p(class="contenu_detail")
                        small  #{user.pseudo + ' ' + message.time + ' ,' + message.date + '  '}
                        h4  #{message.object}
                    a(href="/message/" + message.destination)
                        span(class="btn-comment glyphicon glyphicon-comment")
                            span(class="badge")
                    if message.etat!=0
                        span(class="btn-comment glyphicon glyphicon-eye-open")